
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReferenciaLabel" data-translate="meioambienteApp.referencia.home.createOrEditLabel">Create or edit a Referencia</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.referencia.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.referencia.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.referencia.aporte" for="field_aporte">Aporte</label>
            <input type="text" class="form-control" name="aporte" id="field_aporte"
                    ng-model="vm.referencia.aporte"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.referencia.idreferencia" for="field_idreferencia">Idreferencia</label>
            <input type="number" class="form-control" name="idreferencia" id="field_idreferencia"
                    ng-model="vm.referencia.idreferencia"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.referencia.moeda" for="field_moeda">Moeda</label>
            <input type="text" class="form-control" name="moeda" id="field_moeda"
                    ng-model="vm.referencia.moeda"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.referencia.nreferencia" for="field_nreferencia">Nreferencia</label>
            <input type="number" class="form-control" name="nreferencia" id="field_nreferencia"
                    ng-model="vm.referencia.nreferencia"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.referencia.valorreferencia" for="field_valorreferencia">Valorreferencia</label>
            <input type="number" class="form-control" name="valorreferencia" id="field_valorreferencia"
                    ng-model="vm.referencia.valorreferencia"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
