
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLancamentosLabel" data-translate="meioambienteApp.lancamentos.home.createOrEditLabel">Create or edit a Lancamentos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lancamentos.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lancamentos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.datalan" for="field_datalan">Datalan</label>
                <div class="input-group">
                    <input id="field_datalan" type="text" class="form-control" name="datalan" datetime-picker="{{dateformat}}" ng-model="vm.lancamentos.datalan" is-open="vm.datePickerOpenStatus.datalan"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datalan')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.historico" for="field_historico">Historico</label>
            <input type="text" class="form-control" name="historico" id="field_historico"
                    ng-model="vm.lancamentos.historico"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.recurso" for="field_recurso">Recurso</label>
            <input type="text" class="form-control" name="recurso" id="field_recurso"
                    ng-model="vm.lancamentos.recurso"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.tipomedicao" for="field_tipomedicao">Tipomedicao</label>
            <input type="text" class="form-control" name="tipomedicao" id="field_tipomedicao"
                    ng-model="vm.lancamentos.tipomedicao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.idlancamentos" for="field_idlancamentos">Idlancamentos</label>
            <input type="number" class="form-control" name="idlancamentos" id="field_idlancamentos"
                    ng-model="vm.lancamentos.idlancamentos"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.nummedicao" for="field_nummedicao">Nummedicao</label>
            <input type="number" class="form-control" name="nummedicao" id="field_nummedicao"
                    ng-model="vm.lancamentos.nummedicao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.valorrdebito" for="field_valorrdebito">Valorrdebito</label>
            <input type="number" class="form-control" name="valorrdebito" id="field_valorrdebito"
                    ng-model="vm.lancamentos.valorrdebito"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.valorusdebito" for="field_valorusdebito">Valorusdebito</label>
            <input type="number" class="form-control" name="valorusdebito" id="field_valorusdebito"
                    ng-model="vm.lancamentos.valorusdebito"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.valorrcredito" for="field_valorrcredito">Valorrcredito</label>
            <input type="number" class="form-control" name="valorrcredito" id="field_valorrcredito"
                    ng-model="vm.lancamentos.valorrcredito"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.lancamentos.valoruscredito" for="field_valoruscredito">Valoruscredito</label>
            <input type="number" class="form-control" name="valoruscredito" id="field_valoruscredito"
                    ng-model="vm.lancamentos.valoruscredito"
                    />
        </div>

        <div class="form-group">
            <label data-translate="meioambienteApp.lancamentos.fonte" for="field_fonte">Fonte</label>
            <select class="form-control" id="field_fonte" name="fonte" ng-model="vm.lancamentos.fonteId" ng-options="fonte.id as fonte.id for fonte in vm.fontes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.lancamentos.idplanocontas" for="field_idplanocontas">Idplanocontas</label>
            <select class="form-control" id="field_idplanocontas" name="idplanocontas" ng-model="vm.lancamentos.idplanocontasId" ng-options="planocontas.id as planocontas.id for planocontas in vm.planocontas"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
