
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNaturezaLabel" data-translate="meioambienteApp.natureza.home.createOrEditLabel">Create or edit a Natureza</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.natureza.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.natureza.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.natureza.descnatureza" for="field_descnatureza">Descnatureza</label>
            <input type="text" class="form-control" name="descnatureza" id="field_descnatureza"
                    ng-model="vm.natureza.descnatureza"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.natureza.descsubacao" for="field_descsubacao">Descsubacao</label>
            <input type="text" class="form-control" name="descsubacao" id="field_descsubacao"
                    ng-model="vm.natureza.descsubacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.natureza.idnatureza" for="field_idnatureza">Idnatureza</label>
            <input type="number" class="form-control" name="idnatureza" id="field_idnatureza"
                    ng-model="vm.natureza.idnatureza"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.natureza.numnatureza" for="field_numnatureza">Numnatureza</label>
            <input type="number" class="form-control" name="numnatureza" id="field_numnatureza"
                    ng-model="vm.natureza.numnatureza"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.natureza.subacao" for="field_subacao">Subacao</label>
            <input type="number" class="form-control" name="subacao" id="field_subacao"
                    ng-model="vm.natureza.subacao"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
