<div>
    <h2 data-translate="meioambienteApp.fisico.home.title">Fisicos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fisico-ambiental.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="meioambienteApp.fisico.home.createLabel">
                        Create new Fisico
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="meioambienteApp.fisico.extensao">Extensao</span></th>
                    <th><span data-translate="meioambienteApp.fisico.tipo">Tipo</span></th>
                    <th><span data-translate="meioambienteApp.fisico.tituloFim">Titulo Fim</span></th>
                    <th><span data-translate="meioambienteApp.fisico.tituloInicio">Titulo Inicio</span></th>
                    <th><span data-translate="meioambienteApp.fisico.obra">Obra</span></th>
                    <th><span data-translate="meioambienteApp.fisico.obraatividades">Obraatividades</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fisico in vm.fisicos track by fisico.id">
                    <td><a ui-sref="fisico-ambiental-detail({id:fisico.id})">{{fisico.id}}</a></td>
                    <td>{{fisico.extensao}}</td>
                    <td>{{fisico.tipo}}</td>
                    <td>{{fisico.tituloFim}}</td>
                    <td>{{fisico.tituloInicio}}</td>
                    <td>
                        <a ui-sref="obra-ambiental-detail({id:fisico.obraId})">{{fisico.obraId}}</a>
                    </td>
                    <td>
                        <span ng-repeat="obraatividades in fisico.obraatividades">
                            <a class="form-control-static" ui-sref="obraatividade-ambiental-detail({id: obraatividades.id})">{{obraatividades.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="fisico-ambiental-detail({id:fisico.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fisico-ambiental.edit({id:fisico.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fisico-ambiental.delete({id:fisico.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
