
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFaturaLabel" data-translate="meioambienteApp.fatura.home.createOrEditLabel">Create or edit a Fatura</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fatura.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fatura.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.ajustecambio" for="field_ajustecambio">Ajustecambio</label>
                <input type="checkbox" name="ajustecambio" id="field_ajustecambio"
                          ng-model="vm.fatura.ajustecambio"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.dataop" for="field_dataop">Dataop</label>
                <div class="input-group">
                    <input id="field_dataop" type="text" class="form-control" name="dataop" datetime-picker="{{dateformat}}" ng-model="vm.fatura.dataop" is-open="vm.datePickerOpenStatus.dataop"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataop')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.despesasexeanteriores" for="field_despesasexeanteriores">Despesasexeanteriores</label>
            <input type="text" class="form-control" name="despesasexeanteriores" id="field_despesasexeanteriores"
                    ng-model="vm.fatura.despesasexeanteriores"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nfatura" for="field_nfatura">Nfatura</label>
            <input type="number" class="form-control" name="nfatura" id="field_nfatura"
                    ng-model="vm.fatura.nfatura"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nprocesso" for="field_nprocesso">Nprocesso</label>
            <input type="number" class="form-control" name="nprocesso" id="field_nprocesso"
                    ng-model="vm.fatura.nprocesso"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nsolicitacao" for="field_nsolicitacao">Nsolicitacao</label>
            <input type="number" class="form-control" name="nsolicitacao" id="field_nsolicitacao"
                    ng-model="vm.fatura.nsolicitacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.parcela" for="field_parcela">Parcela</label>
            <input type="number" class="form-control" name="parcela" id="field_parcela"
                    ng-model="vm.fatura.parcela"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nob" for="field_nob">Nob</label>
            <input type="number" class="form-control" name="nob" id="field_nob"
                    ng-model="vm.fatura.nob"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nop" for="field_nop">Nop</label>
            <input type="number" class="form-control" name="nop" id="field_nop"
                    ng-model="vm.fatura.nop"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.nummedicao" for="field_nummedicao">Nummedicao</label>
            <input type="number" class="form-control" name="nummedicao" id="field_nummedicao"
                    ng-model="vm.fatura.nummedicao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.restosapagar" for="field_restosapagar">Restosapagar</label>
            <input type="text" class="form-control" name="restosapagar" id="field_restosapagar"
                    ng-model="vm.fatura.restosapagar"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.tipomedicao" for="field_tipomedicao">Tipomedicao</label>
            <input type="text" class="form-control" name="tipomedicao" id="field_tipomedicao"
                    ng-model="vm.fatura.tipomedicao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.valorpi" for="field_valorpi">Valorpi</label>
            <input type="number" class="form-control" name="valorpi" id="field_valorpi"
                    ng-model="vm.fatura.valorpi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.valorreajuste" for="field_valorreajuste">Valorreajuste</label>
            <input type="number" class="form-control" name="valorreajuste" id="field_valorreajuste"
                    ng-model="vm.fatura.valorreajuste"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.valorus" for="field_valorus">Valorus</label>
            <input type="number" class="form-control" name="valorus" id="field_valorus"
                    ng-model="vm.fatura.valorus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fatura.vreajuste" for="field_vreajuste">Vreajuste</label>
            <input type="number" class="form-control" name="vreajuste" id="field_vreajuste"
                    ng-model="vm.fatura.vreajuste"
                    />
        </div>

        <div class="form-group">
            <label data-translate="meioambienteApp.fatura.fonte" for="field_fonte">Fonte</label>
            <select class="form-control" id="field_fonte" name="fonte" ng-model="vm.fatura.fonteId" ng-options="fonte.id as fonte.id for fonte in vm.fontes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.fatura.idcontabancaria" for="field_idcontabancaria">Idcontabancaria</label>
            <select class="form-control" id="field_idcontabancaria" name="idcontabancaria" ng-model="vm.fatura.idcontabancariaId" ng-options="contabancaria.id as contabancaria.id for contabancaria in vm.contabancarias"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.fatura.idcontrato" for="field_idcontrato">Idcontrato</label>
            <select class="form-control" id="field_idcontrato" name="idcontrato" ng-model="vm.fatura.idcontratoId" ng-options="contrato.id as contrato.id for contrato in vm.contratoes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.fatura.idreferencia" for="field_idreferencia">Idreferencia</label>
            <select class="form-control" id="field_idreferencia" name="idreferencia" ng-model="vm.fatura.idreferenciaId" ng-options="referencia.id as referencia.id for referencia in vm.referencias"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.fatura.medicao" for="field_medicao">Medicao</label>
            <select class="form-control" id="field_medicao" name="medicao" ng-model="vm.fatura.medicaoId" ng-options="medicao.id as medicao.id for medicao in vm.medicaos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
