
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTipocertificadoconformidadeLabel" data-translate="meioambienteApp.tipocertificadoconformidade.home.createOrEditLabel">Create or edit a Tipocertificadoconformidade</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tipocertificadoconformidade.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tipocertificadoconformidade.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.tipocertificadoconformidade.categoria" for="field_categoria">Categoria</label>
            <input type="text" class="form-control" name="categoria" id="field_categoria"
                    ng-model="vm.tipocertificadoconformidade.categoria"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.tipocertificadoconformidade.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.tipocertificadoconformidade.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.tipocertificadoconformidade.subcategoria" for="field_subcategoria">Subcategoria</label>
            <input type="text" class="form-control" name="subcategoria" id="field_subcategoria"
                    ng-model="vm.tipocertificadoconformidade.subcategoria"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
