
<div>
    <h2><span data-translate="meioambienteApp.auc.detail.title">Auc</span> {{vm.auc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="meioambienteApp.auc.fceivalor">Fceivalor</span></dt>
        <dd>
            <span>{{vm.auc.fceivalor}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.inativo">Inativo</span></dt>
        <dd>
            <span>{{vm.auc.inativo}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.prazomes">Prazomes</span></dt>
        <dd>
            <span>{{vm.auc.prazomes}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.reposicaoflorestal">Reposicaoflorestal</span></dt>
        <dd>
            <span>{{vm.auc.reposicaoflorestal}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.compensacaoambiental">Compensacaoambiental</span></dt>
        <dd>
            <span>{{vm.auc.compensacaoambiental}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.prazovalidade">Prazovalidade</span></dt>
        <dd>
            <span>{{vm.auc.prazovalidade}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.fcei">Fcei</span></dt>
        <dd>
            <span>{{vm.auc.fcei}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.reciboentregadocs">Reciboentregadocs</span></dt>
        <dd>
            <span>{{vm.auc.reciboentregadocs}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numero">Numero</span></dt>
        <dd>
            <span>{{vm.auc.numero}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numeroprocesso">Numeroprocesso</span></dt>
        <dd>
            <span>{{vm.auc.numeroprocesso}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficiolocalpedido">Numerooficiolocalpedido</span></dt>
        <dd>
            <span>{{vm.auc.numerooficiolocalpedido}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficiooficialpedido">Numerooficiooficialpedido</span></dt>
        <dd>
            <span>{{vm.auc.numerooficiooficialpedido}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficiolocalrecebimento">Numerooficiolocalrecebimento</span></dt>
        <dd>
            <span>{{vm.auc.numerooficiolocalrecebimento}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficiooficialrecebimento">Numerooficiooficialrecebimento</span></dt>
        <dd>
            <span>{{vm.auc.numerooficiooficialrecebimento}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numeroparecertecnico">Numeroparecertecnico</span></dt>
        <dd>
            <span>{{vm.auc.numeroparecertecnico}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioprorrogacao1">Numerooficioprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioprorrogacao1}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioconcessaoprorrogacao1">Numerooficioconcessaoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioconcessaoprorrogacao1}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioprorrogacao2">Numerooficioprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioprorrogacao2}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioconcessaoprorrogacao2">Numerooficioconcessaoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioconcessaoprorrogacao2}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioprorrogacao3">Numerooficioprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioprorrogacao3}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.numerooficioconcessaoprorrogacao3">Numerooficioconcessaoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.auc.numerooficioconcessaoprorrogacao3}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.album">Album</span></dt>
        <dd>
            <span>{{vm.auc.album}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.folder">Folder</span></dt>
        <dd>
            <span>{{vm.auc.folder}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.pendente">Pendente</span></dt>
        <dd>
            <span>{{vm.auc.pendente}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.andamento">Andamento</span></dt>
        <dd>
            <span>{{vm.auc.andamento}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.auc.descricao}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.observacao">Observacao</span></dt>
        <dd>
            <span>{{vm.auc.observacao}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.docsentregues">Docsentregues</span></dt>
        <dd>
            <span>{{vm.auc.docsentregues}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.reposicaoflorestalobs">Reposicaoflorestalobs</span></dt>
        <dd>
            <span>{{vm.auc.reposicaoflorestalobs}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.compensacaoambientalobs">Compensacaoambientalobs</span></dt>
        <dd>
            <span>{{vm.auc.compensacaoambientalobs}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.fceidataprotocolo">Fceidataprotocolo</span></dt>
        <dd>
            <span>{{vm.auc.fceidataprotocolo | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.fceidatapagamento">Fceidatapagamento</span></dt>
        <dd>
            <span>{{vm.auc.fceidatapagamento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataentregadocs">Dataentregadocs</span></dt>
        <dd>
            <span>{{vm.auc.dataentregadocs | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataoficiolocalpedido">Dataoficiolocalpedido</span></dt>
        <dd>
            <span>{{vm.auc.dataoficiolocalpedido | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataoficioreoficialpedido">Dataoficioreoficialpedido</span></dt>
        <dd>
            <span>{{vm.auc.dataoficioreoficialpedido | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataoficiolocalrecebimento">Dataoficiolocalrecebimento</span></dt>
        <dd>
            <span>{{vm.auc.dataoficiolocalrecebimento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataoficioreoficialrecebimento">Dataoficioreoficialrecebimento</span></dt>
        <dd>
            <span>{{vm.auc.dataoficioreoficialrecebimento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataemissao">Dataemissao</span></dt>
        <dd>
            <span>{{vm.auc.dataemissao | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datapedidoprorrogacao1">Datapedidoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.auc.datapedidoprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataexpedicaoprorrogacao1">Dataexpedicaoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.auc.dataexpedicaoprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datavalidadeprorrogacao1">Datavalidadeprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.auc.datavalidadeprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datapedidoprorrogacao2">Datapedidoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.auc.datapedidoprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataexpedicaoprorrogacao2">Dataexpedicaoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.auc.dataexpedicaoprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datavalidadeprorrogacao2">Datavalidadeprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.auc.datavalidadeprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datapedidoprorrogacao3">Datapedidoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.auc.datapedidoprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.dataexpedicaoprorrogacao3">Dataexpedicaoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.auc.dataexpedicaoprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datavalidadeprorrogacao3">Datavalidadeprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.auc.datavalidadeprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datavencimento">Datavencimento</span></dt>
        <dd>
            <span>{{vm.auc.datavencimento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.datavencimentoatual">Datavencimentoatual</span></dt>
        <dd>
            <span>{{vm.auc.datavencimentoatual | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.atividadelicenca">Atividadelicenca</span></dt>
        <dd>
            <a ui-sref="atividadelicenca-ambiental-detail({id:vm.auc.atividadelicencaId})">{{vm.auc.atividadelicencaId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.orgaoemissor">Orgaoemissor</span></dt>
        <dd>
            <a ui-sref="orgaoemissor-ambiental-detail({id:vm.auc.orgaoemissorId})">{{vm.auc.orgaoemissorId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.obra">Obra</span></dt>
        <dd>
            <a ui-sref="obra-ambiental-detail({id:vm.auc.obraId})">{{vm.auc.obraId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.projeto">Projeto</span></dt>
        <dd>
            <a ui-sref="projeto-ambiental-detail({id:vm.auc.projetoId})">{{vm.auc.projetoId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.empresa">Empresa</span></dt>
        <dd>
            <a ui-sref="empresa-ambiental-detail({id:vm.auc.empresaId})">{{vm.auc.empresaId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.condicionantes">Condicionantes</span></dt>
        <dd>
            <span ng-repeat="condicionantes in vm.auc.condicionantes">
                <a ui-sref="condicionante-ambiental-detail({id: condicionantes.id})">{{condicionantes.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.fotos">Fotos</span></dt>
        <dd>
            <span ng-repeat="fotos in vm.auc.fotos">
                <a ui-sref="foto-ambiental-detail({id: fotos.id})">{{fotos.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="meioambienteApp.auc.docs">Docs</span></dt>
        <dd>
            <span ng-repeat="docs in vm.auc.docs">
                <a ui-sref="documento-ambiental-detail({id: docs.id})">{{docs.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="auc-ambiental-detail.edit({id:vm.auc.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
