
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlanocontasLabel" data-translate="meioambienteApp.planocontas.home.createOrEditLabel">Create or edit a Planocontas</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.planocontas.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.planocontas.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.planocontas.idplanocontas" for="field_idplanocontas">Idplanocontas</label>
            <input type="number" class="form-control" name="idplanocontas" id="field_idplanocontas"
                    ng-model="vm.planocontas.idplanocontas"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.planocontas.ncontabil" for="field_ncontabil">Ncontabil</label>
            <input type="text" class="form-control" name="ncontabil" id="field_ncontabil"
                    ng-model="vm.planocontas.ncontabil"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.planocontas.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.planocontas.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.planocontas.tipoconta" for="field_tipoconta">Tipoconta</label>
            <input type="text" class="form-control" name="tipoconta" id="field_tipoconta"
                    ng-model="vm.planocontas.tipoconta"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.planocontas.tipolancamento" for="field_tipolancamento">Tipolancamento</label>
            <input type="text" class="form-control" name="tipolancamento" id="field_tipolancamento"
                    ng-model="vm.planocontas.tipolancamento"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
