<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span data-translate="global.title">Meioambiente</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="aditivocontrato-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.aditivocontratoAmbiental">Aditivocontrato Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="participante-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.participanteAmbiental">Participante Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipoadministrativo-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipoadministrativoAmbiental">Tipoadministrativo Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ocorrenciaapresentacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ocorrenciaapresentacaoAmbiental">Ocorrenciaapresentacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="foto-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fotoAmbiental">Foto Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="inspetor-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.inspetorAmbiental">Inspetor Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fiscal-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fiscalAmbiental">Fiscal Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="trecho-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.trechoAmbiental">Trecho Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="empresa-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.empresaAmbiental">Empresa Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="projeto-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.projetoAmbiental">Projeto Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="orgaoemissor-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.orgaoemissorAmbiental">Orgaoemissor Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="condicionante-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.condicionanteAmbiental">Condicionante Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="documento-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.documentoAmbiental">Documento Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contratoobra-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.contratoobraAmbiental">Contratoobra Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="historico-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.historicoAmbiental">Historico Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="administrativo-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.administrativoAmbiental">Administrativo Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="obra-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.obraAmbiental">Obra Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipo-obra-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipoObraAmbiental">Tipo Obra Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="apresentacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.apresentacaoAmbiental">Apresentacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="atividade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.atividadeAmbiental">Atividade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="atividadeexecutadamensal-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.atividadeexecutadamensalAmbiental">Atividadeexecutadamensal Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="atividadelicenca-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.atividadelicencaAmbiental">Atividadelicenca Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="auc-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.aucAmbiental">Auc Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="autorizacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.autorizacaoAmbiental">Autorizacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="balanco-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.balancoAmbiental">Balanco Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="banco-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.bancoAmbiental">Banco Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="categoriainversao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.categoriainversaoAmbiental">Categoriainversao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="certificadoconformidade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.certificadoconformidadeAmbiental">Certificadoconformidade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="clausulascontratuais-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.clausulascontratuaisAmbiental">Clausulascontratuais Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="coluna-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.colunaAmbiental">Coluna Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contabancaria-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.contabancariaAmbiental">Contabancaria Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contrato-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.contratoAmbiental">Contrato Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contratoagente-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.contratoagenteAmbiental">Contratoagente Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contratoprojeto-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.contratoprojetoAmbiental">Contratoprojeto Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="coordenada-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.coordenadaAmbiental">Coordenada Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="custosconcorrentes-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.custosconcorrentesAmbiental">Custosconcorrentes Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="desapropriacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.desapropriacaoAmbiental">Desapropriacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="empresacontrato-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.empresacontratoAmbiental">Empresacontrato Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fonte-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fonteAmbiental">Fonte Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="informecertificadoirregularidade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.informecertificadoirregularidadeAmbiental">Informecertificadoirregularidade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="linha-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.linhaAmbiental">Linha Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="natureza-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.naturezaAmbiental">Natureza Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="notificacaocertificadoirregularidade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.notificacaocertificadoirregularidadeAmbiental">Notificacaocertificadoirregularidade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ocorrenciacertificadoirregularidade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ocorrenciacertificadoirregularidadeAmbiental">Ocorrenciacertificadoirregularidade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="planocontas-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.planocontasAmbiental">Planocontas Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="proposta-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.propostaAmbiental">Proposta Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="referencia-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.referenciaAmbiental">Referencia Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="residente-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.residenteAmbiental">Residente Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="rodovia-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.rodoviaAmbiental">Rodovia Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="responsavel-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.responsavelAmbiental">Responsavel Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipoautorizacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipoautorizacaoAmbiental">Tipoautorizacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipocertificadoconformidade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipocertificadoconformidadeAmbiental">Tipocertificadoconformidade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="edital-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.editalAmbiental">Edital Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="editallote-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.editalloteAmbiental">Editallote Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fatura-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.faturaAmbiental">Fatura Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="faturacontrato-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.faturacontratoAmbiental">Faturacontrato Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fisico-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fisicoAmbiental">Fisico Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fisicografico-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fisicograficoAmbiental">Fisicografico Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="medicao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medicaoAmbiental">Medicao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="obraatividade-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.obraatividadeAmbiental">Obraatividade Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="referenciacontrato-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.referenciacontratoAmbiental">Referenciacontrato Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="funcionario-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.funcionarioAmbiental">Funcionario Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="informe-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.informeAmbiental">Informe Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lancamentos-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.lancamentosAmbiental">Lancamentos Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="licenca-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.licencaAmbiental">Licenca Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="listamovimentacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.listamovimentacaoAmbiental">Listamovimentacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="log-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.logAmbiental">Log Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="manifestacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.manifestacaoAmbiental">Manifestacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="movimentacao-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.movimentacaoAmbiental">Movimentacao Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ocorrencia-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ocorrenciaAmbiental">Ocorrencia Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ocorrenciainforme-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ocorrenciainformeAmbiental">Ocorrenciainforme Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="registro-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.registroAmbiental">Registro Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="status-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.statusAmbiental">Status Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tabela-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tabelaAmbiental">Tabela Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipolicenca-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipolicencaAmbiental">Tipolicenca Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tipoocorrencia-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tipoocorrenciaAmbiental">Tipoocorrencia Ambiental</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="usuario-ambiental" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.usuarioAmbiental">Usuario Ambiental</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
