
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoordenadaLabel" data-translate="meioambienteApp.coordenada.home.createOrEditLabel">Create or edit a Coordenada</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coordenada.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.coordenada.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.coordenada.a" for="field_a">A</label>
            <input type="number" class="form-control" name="a" id="field_a"
                    ng-model="vm.coordenada.a"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.coordenada.km" for="field_km">Km</label>
            <input type="number" class="form-control" name="km" id="field_km"
                    ng-model="vm.coordenada.km"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.coordenada.n" for="field_n">N</label>
            <input type="number" class="form-control" name="n" id="field_n"
                    ng-model="vm.coordenada.n"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.coordenada.s" for="field_s">S</label>
            <input type="number" class="form-control" name="s" id="field_s"
                    ng-model="vm.coordenada.s"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
