
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCertificadoconformidadeLabel" data-translate="meioambienteApp.certificadoconformidade.home.createOrEditLabel">Create or edit a Certificadoconformidade</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.certificadoconformidade.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.certificadoconformidade.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.data" for="field_data">Data</label>
                <div class="input-group">
                    <input id="field_data" type="text" class="form-control" name="data" datetime-picker="{{dateformat}}" ng-model="vm.certificadoconformidade.data" is-open="vm.datePickerOpenStatus.data"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.dataliberacao" for="field_dataliberacao">Dataliberacao</label>
                <div class="input-group">
                    <input id="field_dataliberacao" type="text" class="form-control" name="dataliberacao" datetime-picker="{{dateformat}}" ng-model="vm.certificadoconformidade.dataliberacao" is-open="vm.datePickerOpenStatus.dataliberacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataliberacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.dataparalisacao" for="field_dataparalisacao">Dataparalisacao</label>
                <div class="input-group">
                    <input id="field_dataparalisacao" type="text" class="form-control" name="dataparalisacao" datetime-picker="{{dateformat}}" ng-model="vm.certificadoconformidade.dataparalisacao" is-open="vm.datePickerOpenStatus.dataparalisacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataparalisacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.datareinicio" for="field_datareinicio">Datareinicio</label>
                <div class="input-group">
                    <input id="field_datareinicio" type="text" class="form-control" name="datareinicio" datetime-picker="{{dateformat}}" ng-model="vm.certificadoconformidade.datareinicio" is-open="vm.datePickerOpenStatus.datareinicio"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datareinicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.edital" for="field_edital">Edital</label>
            <input type="text" class="form-control" name="edital" id="field_edital"
                    ng-model="vm.certificadoconformidade.edital"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.item" for="field_item">Item</label>
            <input type="text" class="form-control" name="item" id="field_item"
                    ng-model="vm.certificadoconformidade.item"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.liberacao" for="field_liberacao">Liberacao</label>
            <input type="text" class="form-control" name="liberacao" id="field_liberacao"
                    ng-model="vm.certificadoconformidade.liberacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.liberacaoadministrativamente" for="field_liberacaoadministrativamente">Liberacaoadministrativamente</label>
                <input type="checkbox" name="liberacaoadministrativamente" id="field_liberacaoadministrativamente"
                          ng-model="vm.certificadoconformidade.liberacaoadministrativamente"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.periodo" for="field_periodo">Periodo</label>
            <input type="text" class="form-control" name="periodo" id="field_periodo"
                    ng-model="vm.certificadoconformidade.periodo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.texto" for="field_texto">Texto</label>
            <input type="text" class="form-control" name="texto" id="field_texto"
                    ng-model="vm.certificadoconformidade.texto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.certificadoconformidade.texto2" for="field_texto2">Texto 2</label>
            <input type="text" class="form-control" name="texto2" id="field_texto2"
                    ng-model="vm.certificadoconformidade.texto2"
                    />
        </div>

        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.obra" for="field_obra">Obra</label>
            <select class="form-control" id="field_obra" name="obra" ng-model="vm.certificadoconformidade.obraId" ng-options="obra.id as obra.id for obra in vm.obras"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" id="field_tipo" name="tipo" ng-model="vm.certificadoconformidade.tipoId" ng-options="tipocertificadoconformidade.id as tipocertificadoconformidade.id for tipocertificadoconformidade in vm.tipocertificadoconformidades"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.tipocertificadoconformidade" for="field_tipocertificadoconformidade">Tipocertificadoconformidade</label>
            <select class="form-control" id="field_tipocertificadoconformidade" name="tipocertificadoconformidade" ng-model="vm.certificadoconformidade.tipocertificadoconformidadeId" ng-options="tipocertificadoconformidade.id as tipocertificadoconformidade.id for tipocertificadoconformidade in vm.tipocertificadoconformidades"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.informescertificadoirregularidade" for="field_informescertificadoirregularidade">Informescertificadoirregularidade</label>
            <select class="form-control" id="field_informescertificadoirregularidade" multiple name="informescertificadoirregularidade" ng-model="vm.certificadoconformidade.informescertificadoirregularidades" ng-options="informecertificadoirregularidade as informecertificadoirregularidade.id for informecertificadoirregularidade in vm.informecertificadoirregularidades track by informecertificadoirregularidade.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.notificacaoscertificadoirregularidade" for="field_notificacaoscertificadoirregularidade">Notificacaoscertificadoirregularidade</label>
            <select class="form-control" id="field_notificacaoscertificadoirregularidade" multiple name="notificacaoscertificadoirregularidade" ng-model="vm.certificadoconformidade.notificacaoscertificadoirregularidades" ng-options="notificacaocertificadoirregularidade as notificacaocertificadoirregularidade.id for notificacaocertificadoirregularidade in vm.notificacaocertificadoirregularidades track by notificacaocertificadoirregularidade.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="meioambienteApp.certificadoconformidade.ocorrenciascertificadoirregularidade" for="field_ocorrenciascertificadoirregularidade">Ocorrenciascertificadoirregularidade</label>
            <select class="form-control" id="field_ocorrenciascertificadoirregularidade" multiple name="ocorrenciascertificadoirregularidade" ng-model="vm.certificadoconformidade.ocorrenciascertificadoirregularidades" ng-options="ocorrenciacertificadoirregularidade as ocorrenciacertificadoirregularidade.id for ocorrenciacertificadoirregularidade in vm.ocorrenciacertificadoirregularidades track by ocorrenciacertificadoirregularidade.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
