
<div>
    <h2><span data-translate="meioambienteApp.certificadoconformidade.detail.title">Certificadoconformidade</span> {{vm.certificadoconformidade.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="meioambienteApp.certificadoconformidade.data">Data</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.data | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.dataliberacao">Dataliberacao</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.dataliberacao | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.dataparalisacao">Dataparalisacao</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.dataparalisacao | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.datareinicio">Datareinicio</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.datareinicio | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.edital">Edital</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.edital}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.item">Item</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.item}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.liberacao">Liberacao</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.liberacao}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.liberacaoadministrativamente">Liberacaoadministrativamente</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.liberacaoadministrativamente}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.periodo">Periodo</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.periodo}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.texto">Texto</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.texto}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.texto2">Texto 2</span></dt>
        <dd>
            <span>{{vm.certificadoconformidade.texto2}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.obra">Obra</span></dt>
        <dd>
            <a ui-sref="obra-ambiental-detail({id:vm.certificadoconformidade.obraId})">{{vm.certificadoconformidade.obraId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.tipo">Tipo</span></dt>
        <dd>
            <a ui-sref="tipocertificadoconformidade-ambiental-detail({id:vm.certificadoconformidade.tipoId})">{{vm.certificadoconformidade.tipoId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.tipocertificadoconformidade">Tipocertificadoconformidade</span></dt>
        <dd>
            <a ui-sref="tipocertificadoconformidade-ambiental-detail({id:vm.certificadoconformidade.tipocertificadoconformidadeId})">{{vm.certificadoconformidade.tipocertificadoconformidadeId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.informescertificadoirregularidade">Informescertificadoirregularidade</span></dt>
        <dd>
            <span ng-repeat="informescertificadoirregularidade in vm.certificadoconformidade.informescertificadoirregularidades">
                <a ui-sref="informecertificadoirregularidade-ambiental-detail({id: informescertificadoirregularidade.id})">{{informescertificadoirregularidade.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.notificacaoscertificadoirregularidade">Notificacaoscertificadoirregularidade</span></dt>
        <dd>
            <span ng-repeat="notificacaoscertificadoirregularidade in vm.certificadoconformidade.notificacaoscertificadoirregularidades">
                <a ui-sref="notificacaocertificadoirregularidade-ambiental-detail({id: notificacaoscertificadoirregularidade.id})">{{notificacaoscertificadoirregularidade.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="meioambienteApp.certificadoconformidade.ocorrenciascertificadoirregularidade">Ocorrenciascertificadoirregularidade</span></dt>
        <dd>
            <span ng-repeat="ocorrenciascertificadoirregularidade in vm.certificadoconformidade.ocorrenciascertificadoirregularidades">
                <a ui-sref="ocorrenciacertificadoirregularidade-ambiental-detail({id: ocorrenciascertificadoirregularidade.id})">{{ocorrenciascertificadoirregularidade.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="certificadoconformidade-ambiental-detail.edit({id:vm.certificadoconformidade.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
