
<div>
    <h2><span data-translate="meioambienteApp.autorizacao.detail.title">Autorizacao</span> {{vm.autorizacao.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="meioambienteApp.autorizacao.album">Album</span></dt>
        <dd>
            <span>{{vm.autorizacao.album}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.andamento">Andamento</span></dt>
        <dd>
            <span>{{vm.autorizacao.andamento}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.data">Data</span></dt>
        <dd>
            <span>{{vm.autorizacao.data | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.dataentregadocs">Dataentregadocs</span></dt>
        <dd>
            <span>{{vm.autorizacao.dataentregadocs | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.dataexpedicaoprorrogacao1">Dataexpedicaoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.autorizacao.dataexpedicaoprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.dataexpedicaoprorrogacao2">Dataexpedicaoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.autorizacao.dataexpedicaoprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.dataexpedicaoprorrogacao3">Dataexpedicaoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.autorizacao.dataexpedicaoprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datapedidoprorrogacao1">Datapedidoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.autorizacao.datapedidoprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datapedidoprorrogacao2">Datapedidoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.autorizacao.datapedidoprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datapedidoprorrogacao3">Datapedidoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.autorizacao.datapedidoprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datavalidadeprorrogacao1">Datavalidadeprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.autorizacao.datavalidadeprorrogacao1 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datavalidadeprorrogacao2">Datavalidadeprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.autorizacao.datavalidadeprorrogacao2 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datavalidadeprorrogacao3">Datavalidadeprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.autorizacao.datavalidadeprorrogacao3 | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datavencimento">Datavencimento</span></dt>
        <dd>
            <span>{{vm.autorizacao.datavencimento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.datavencimentoatual">Datavencimentoatual</span></dt>
        <dd>
            <span>{{vm.autorizacao.datavencimentoatual | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.autorizacao.descricao}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.docsentregues">Docsentregues</span></dt>
        <dd>
            <span>{{vm.autorizacao.docsentregues}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.fcei">Fcei</span></dt>
        <dd>
            <span>{{vm.autorizacao.fcei}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.fceidatapagamento">Fceidatapagamento</span></dt>
        <dd>
            <span>{{vm.autorizacao.fceidatapagamento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.fceidataprotocolo">Fceidataprotocolo</span></dt>
        <dd>
            <span>{{vm.autorizacao.fceidataprotocolo | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.fceivalor">Fceivalor</span></dt>
        <dd>
            <span>{{vm.autorizacao.fceivalor}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.folder">Folder</span></dt>
        <dd>
            <span>{{vm.autorizacao.folder}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.inativo">Inativo</span></dt>
        <dd>
            <span>{{vm.autorizacao.inativo}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.kmfim">Kmfim</span></dt>
        <dd>
            <span>{{vm.autorizacao.kmfim}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.kminicio">Kminicio</span></dt>
        <dd>
            <span>{{vm.autorizacao.kminicio}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.lado">Lado</span></dt>
        <dd>
            <span>{{vm.autorizacao.lado}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.naoria">Naoria</span></dt>
        <dd>
            <span>{{vm.autorizacao.naoria}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numero">Numero</span></dt>
        <dd>
            <span>{{vm.autorizacao.numero}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioconcessaoprorrogacao1">Numerooficioconcessaoprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioconcessaoprorrogacao1}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioconcessaoprorrogacao2">Numerooficioconcessaoprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioconcessaoprorrogacao2}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioconcessaoprorrogacao3">Numerooficioconcessaoprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioconcessaoprorrogacao3}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioprorrogacao1">Numerooficioprorrogacao 1</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioprorrogacao1}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioprorrogacao2">Numerooficioprorrogacao 2</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioprorrogacao2}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numerooficioprorrogacao3">Numerooficioprorrogacao 3</span></dt>
        <dd>
            <span>{{vm.autorizacao.numerooficioprorrogacao3}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.numeroprocesso">Numeroprocesso</span></dt>
        <dd>
            <span>{{vm.autorizacao.numeroprocesso}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.observacao">Observacao</span></dt>
        <dd>
            <span>{{vm.autorizacao.observacao}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.pendente">Pendente</span></dt>
        <dd>
            <span>{{vm.autorizacao.pendente}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.prazomes">Prazomes</span></dt>
        <dd>
            <span>{{vm.autorizacao.prazomes}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.prazovalidade">Prazovalidade</span></dt>
        <dd>
            <span>{{vm.autorizacao.prazovalidade}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.proprietario">Proprietario</span></dt>
        <dd>
            <span>{{vm.autorizacao.proprietario}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.reciboentregadocs">Reciboentregadocs</span></dt>
        <dd>
            <span>{{vm.autorizacao.reciboentregadocs}}</span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.atividadelicenca">Atividadelicenca</span></dt>
        <dd>
            <a ui-sref="atividadelicenca-ambiental-detail({id:vm.autorizacao.atividadelicencaId})">{{vm.autorizacao.atividadelicencaId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.empresa">Empresa</span></dt>
        <dd>
            <a ui-sref="empresa-ambiental-detail({id:vm.autorizacao.empresaId})">{{vm.autorizacao.empresaId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.obra">Obra</span></dt>
        <dd>
            <a ui-sref="obra-ambiental-detail({id:vm.autorizacao.obraId})">{{vm.autorizacao.obraId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.orgaoemissor">Orgaoemissor</span></dt>
        <dd>
            <a ui-sref="orgaoemissor-ambiental-detail({id:vm.autorizacao.orgaoemissorId})">{{vm.autorizacao.orgaoemissorId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.projeto">Projeto</span></dt>
        <dd>
            <a ui-sref="projeto-ambiental-detail({id:vm.autorizacao.projetoId})">{{vm.autorizacao.projetoId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.tipoautorizacao">Tipoautorizacao</span></dt>
        <dd>
            <a ui-sref="tipoautorizacao-ambiental-detail({id:vm.autorizacao.tipoautorizacaoId})">{{vm.autorizacao.tipoautorizacaoId}}</a>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.fotos">Fotos</span></dt>
        <dd>
            <span ng-repeat="fotos in vm.autorizacao.fotos">
                <a ui-sref="foto-ambiental-detail({id: fotos.id})">{{fotos.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="meioambienteApp.autorizacao.docs">Docs</span></dt>
        <dd>
            <span ng-repeat="docs in vm.autorizacao.docs">
                <a ui-sref="documento-ambiental-detail({id: docs.id})">{{docs.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="autorizacao-ambiental-detail.edit({id:vm.autorizacao.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
