
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCondicionanteLabel" data-translate="meioambienteApp.condicionante.home.createOrEditLabel">Create or edit a Condicionante</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.condicionante.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.condicionante.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.ativo" for="field_ativo">Ativo</label>
                <input type="checkbox" name="ativo" id="field_ativo"
                          ng-model="vm.condicionante.ativo"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.conteudo" for="field_conteudo">Conteudo</label>
            <input type="text" class="form-control" name="conteudo" id="field_conteudo"
                    ng-model="vm.condicionante.conteudo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.data" for="field_data">Data</label>
                <div class="input-group">
                    <input id="field_data" type="text" class="form-control" name="data" datetime-picker="{{dateformat}}" ng-model="vm.condicionante.data" is-open="vm.datePickerOpenStatus.data"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.condicionante.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.observacao" for="field_observacao">Observacao</label>
            <input type="text" class="form-control" name="observacao" id="field_observacao"
                    ng-model="vm.condicionante.observacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.condicionante.situacao" for="field_situacao">Situacao</label>
            <input type="text" class="form-control" name="situacao" id="field_situacao"
                    ng-model="vm.condicionante.situacao"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
