
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFonteLabel" data-translate="meioambienteApp.fonte.home.createOrEditLabel">Create or edit a Fonte</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fonte.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fonte.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fonte.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.fonte.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fonte.fonte" for="field_fonte">Fonte</label>
            <input type="number" class="form-control" name="fonte" id="field_fonte"
                    ng-model="vm.fonte.fonte"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fonte.indiceagente" for="field_indiceagente">Indiceagente</label>
            <input type="number" class="form-control" name="indiceagente" id="field_indiceagente"
                    ng-model="vm.fonte.indiceagente"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meioambienteApp.fonte.indicelocal" for="field_indicelocal">Indicelocal</label>
            <input type="number" class="form-control" name="indicelocal" id="field_indicelocal"
                    ng-model="vm.fonte.indicelocal"
                    />
        </div>

        <div class="form-group">
            <label data-translate="meioambienteApp.fonte.idcontabancaria" for="field_idcontabancaria">Idcontabancaria</label>
            <select class="form-control" id="field_idcontabancaria" name="idcontabancaria" ng-model="vm.fonte.idcontabancariaId" ng-options="contabancaria.id as contabancaria.id for contabancaria in vm.contabancarias"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
